.hero {
    width: 100vw;
    position: relative;
    top: 0;
    overflow-x: hidden;
}
.hero img {
    width: 1536px;
}
.promotion {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    height: auto;
    background-color: #FFF;
    padding: 32px;
    margin: 32px;
    z-index: 100;
    color: #2c3e50;
    font-size: 1.2rem;
}
.promotion-title {
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;    
}
.promotion-title, .promotion-text {
    text-align:left;
}
.promotion-text {
    font-size: 1.2rem;
}

.traits {
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    top: 40%;
    height: 60%;
    background-color: #FFF;
    left:0;
    right: 0;
    box-sizing: border-box;
}
.kakemono {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #2c3e50;
    align-content: center;
    text-align:center;
}
.kakemono img {
    width: 150px;
    height: 150px;
    border: 10px solid #00bc77;
    border-radius: 50%;
    align-self: center;
}
.k-title {
    width: 100%;
    color: #222;
    font-weight: bold;
    font-size: 1.2rem;  
    margin: 0.5rem 0;
}
.kakemono p {
    width: 100%;
}