.hero {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 0;
}
.promotion {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    height: auto;
    background-color: #FFF;
    padding: 32px;
    margin: 32px;
    z-index: 100;
    color: #2c3e50;
    font-size: 1.2rem;
    text-align:start;
}
.promotion-title {
    font-weight: bold;
    margin: 0;
}
.traits {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    top: 57.5%;
    background-color: #FFF;
}
.kakemono {
    width: 512px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #2c3e50;
    align-content: center;
}
.kakemono img {
    width: 150px;
    height: 150px;
    border: 10px solid #00bc77;
    border-radius: 50%;
    padding: 1rem auto;
}
.k-title {
    color: #222;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
}