.display-area {
  height: 591px;
  background-color: #12002b;
  color: #FFF;
  padding-bottom: 1rem;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.signinBox {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 32px;
}
  .sign-in-out-icon {
      margin-left: auto;
      margin-right: auto;
  }
  .signInH1 {
    color:#2c3e50;
    margin: 21px auto;
  }
  .signInForm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 0;
    margin-left:0px;
    width: 100%;
  }
    .formField {
      display: flex;
      flex-direction: column;
      align-self:baseline;
      width: 100%;
      left: 0;
      margin-bottom:1rem;
    }
    .formField label {
      font-weight: bold;
      left: 0;
      width: 100%;
      text-align: left;
    }
    .textBox {
      height: 36.4px;
      text-align: left;
      padding-left: 2.5%;
    }
    .textBox:disabled {
      background-color: #CCC;
    }
    .hideMe {
      display: none;
    }
    .checkbox {
      display: flex;
      flex-direction: row;
      left: 0;
      margin-left:0px;
      gap: 4px;
      width: 100%;
      margin-bottom:1rem;
    }
    .signInButton {
      width: 100%;
    }
